@page "/Citationissuing"
@*@attribute [Authorize(Roles = Roles.HighwayPatrolOfficer)]*@
@inherits CitationIssuingBase

@using System.ComponentModel.DataAnnotations
<MudText Typo="Typo.h3">Citation Issuing</MudText>

<div class="citation-body">
    <div style="max-width: 400px;">
        <EditForm Model="@EditContext" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Licence ID" Variant="Variant.Outlined"
                                  @bind-Value="CitationData.licence_id" For="@(() => CitationData.licence_id)" />
                    <MudTextField Label="Licence Plate" Variant="Variant.Outlined"
                                  @bind-Value="CitationData.licencePlate" For="@(() => CitationData.licencePlate)" />
                    <MudSelect Label="Select type" @bind-Value="CitationData.CitationType" Variant="Variant.Outlined">
                        @foreach (CitationTypes item in CitationTypes.GetValues(typeof(CitationTypes)))
                        {
<MudSelectItem Value="@item">@item.ToDescriptionString()</MudSelectItem>}
                    </MudSelect>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>

    <MudPaper Class="pa-1 ma-2" Elevation="3">
        <MudText Typo="Typo.h6">Person Information</MudText>
        <div style="max-width: 400px;">
            <MudTextField Value="data.GetOffenderName()" Label="Offender Name:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="@WarrantInfo()" Label="Has Warrant:" ReadOnly="true" Variant="Variant.Filled" Disabled="@(!HasWarrant())" />
            <MudTextField @bind-Value="data.plate_number" Label="Offender Licence Plate:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField @bind-Value="data.date_recieved" Label="Date of Offence:" ReadOnly="true" Variant="Variant.Filled" />
        </div>

        <MudText Typo="Typo.h6">Licence Information</MudText>
        <div style="max-width: 400px;">
            <MudTextField Value="@WarrantInfo()" Label="Licence Revoked:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="@WarrantInfo()" Label="Licence Suspended" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="@WarrantInfo()" Label="Vehicle Number" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="@WarrantInfo()" Label="Vehicle Stolen:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="@WarrantInfo()" Label="Vehicle Registered:" ReadOnly="true" Variant="Variant.Filled" />
        </div>

        <MudText Typo="Typo.h6">Vehicle Information</MudText>
        <div style="max-width: 400px;">
            <MudTextField Value="@WarrantInfo()" Label="Vehicle Number" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="@WarrantInfo()" Label="Vehicle Stolen:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="@WarrantInfo()" Label="Vehicle Registered:" ReadOnly="true" Variant="Variant.Filled" />

        </div>

    </MudPaper>

</div>
