@page "/Coursemanagement"
@*@attribute [Authorize(Roles = Roles.SchoolRep)]*@
@inherits CourseManagementBase
@using System.ComponentModel.DataAnnotations

<MudText Typo="Typo.h3">Course Management</MudText>

<div class="citation-body">
    <MudPaper Class="pa-1 ma-2" Elevation="3">

        <div style="max-width: 400px;">
            <EditForm Model="@EditContext" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Course Management</MudText>

                        <MudDatePicker Label="Course Scheduled Date and Time" Variant="Variant.Outlined" @bind-Date="dateSelect" />
                        <br />
                        <MudSelect Label="Select type" @bind-Value="CourseData.CitizenCitationType" Variant="Variant.Outlined">
                            @foreach (CitizenCitationTypes item in Enum.GetValues(typeof(CitizenCitationTypes)))
                            {
                                <MudSelectItem Value="@item">@item.ToDescriptionString()</MudSelectItem>
                            }

                        </MudSelect>
                        <MudTextField Label="Course Address" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.address" For="@(() => CourseData.address)" />
                        <MudTextField Label="Course Name" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.name" For="@(() => CourseData.name)" />
                        <MudTextField Label="Course Type" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.type" For="@(() => CourseData.type)" />
                        <MudTextField Label="Course Price" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.price" For="@(() => CourseData.price)" />
                        <MudTextField T="string" Label="Course Description" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.description" For="@(() => CourseData.description)" Lines="3" />
                        <MudTextField Label="Course Title" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.title" For="@(() => CourseData.title)" />
                        <MudTextField Label="Course Instructor" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.instructor" For="@(() => CourseData.instructor)" />
                        <MudTextField Label="Citizen Capacity" Variant="Variant.Outlined"
                                      @bind-Value="CourseData.capacity" For="@(() => CourseData.capacity)" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Post Class</MudButton>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </div>
    </MudPaper>

</div>