@page "/Coursemanagement"
@*@attribute [Authorize(Roles = Roles.SchoolRep)]*@
@inherits CourseManagementBase
@using System.ComponentModel.DataAnnotations

<MudText Typo="Typo.h3">Course Management</MudText>

<div class="citation-body">
    <div style="max-width: 400px;">
        <EditForm Model="@EditContext" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField @bind-Value="PersonName" Label="Instructor Name:" ReadOnly="true" Variant="Variant.Filled" />
                    <MudTextField @bind-Value="PersonID" Label="Person ID:" ReadOnly="true" Variant="Variant.Filled" />

                    <MudTextField Label="Course ID" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.course_id" For="@(() => CourseData.course_id)" />
                    <MudTextField Label="Course Type" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.type" For="@(() => CourseData.type)" />
                    <MudTextField Label="Course Address" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.address" For="@(() => CourseData.address)" />
                    <MudTextField Label="Course Name" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.name" For="@(() => CourseData.name)" />
                    <MudTextField Label="Course Scheduled Date and Time" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.scheduled" For="@(() => CourseData.scheduled)" />
                    <MudTextField Label="Course Price" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.price" For="@(() => CourseData.price)" />
                    <MudTextField Label="Course Description" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.description" For="@(() => CourseData.description)" />
                    <MudTextField Label="Course Title" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.title" For="@(() => CourseData.title)" />
                    <MudTextField Label="Course Instructor" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.instructor" For="@(() => CourseData.instructor)" />
                    <MudTextField Label="Citation Capacity" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.capacity" For="@(() => CourseData.capacity)" />
                    <MudTextField Label="Citation Type ID" Variant="Variant.Outlined"
                                  @bind-Value="CourseData.citation_type_id" For="@(() => CourseData.citation_type_id)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Post Class</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>
</div>