@page "/Employeelookup"
@*@attribute [Authorize(Roles = Roles.Manager)]*@

@inherits EmployeeLookupBase

@using System.ComponentModel.DataAnnotations

<MudText Typo="Typo.h3">Employee Lookup</MudText>

<div class="citation-body">
    <div style="max-width: 400px;">
        <EditForm Model="@EditContext" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudSelect Label="Select Employee" @bind-Value="selectedEmployee" Variant="Variant.Outlined">
                        @foreach (var emp in EmployeeNames)
                        {
                            <MudSelectItem Value="@emp">@emp.GetEmployeeName()</MudSelectItem>
                        }
                    </MudSelect>

                    <MudDateRangePicker Label="Citation Search Range" @bind-DateRange="dateRange" />
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Search</MudButton>
                    </MudCardActions>
                </MudCardContent>
            </MudCard>
        </EditForm>

    </div>
    <div style="max-width: 400px;">
        <MudPaper Class="pa-1 ma-2" Elevation="3">
            <MudText Typo="Typo.h6">Employee Information</MudText>

            <MudTextField @bind-Value="GetEmployeeEmail" Label="Employee Email:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField @bind-Value="GetEmployeeActive" Label="Employee Active:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField @bind-Value="GetEmployeeDepartment" Label="Employee Department:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField @bind-Value="GetEmployeeRole" Label="Employee Role:" ReadOnly="true" Variant="Variant.Filled" />
        </MudPaper>
    </div>

    <div style="max-width: 400px;">
        <MudPaper Class="pa-1 ma-2" Elevation="3">
            <MudText Typo="Typo.h6">Citation Count Information</MudText>

            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:300px">
                <thead>
                    <tr>
                        @foreach (var h in headings)
                        {
                            <th>@h</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in rows)
                    {
                        <tr>
                            @foreach (var x in row.Split())
                            {
                                <td>@x</td>
                            }
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudPaper>
    </div>

</div>