@page "/Lookupportal"
@inherits LookupPortalBase

@using System.ComponentModel.DataAnnotations

<MudText Typo="Typo.h3">Lookup Portal for Citizen, Vehicle, Citation</MudText>

<div class="citation-body">

    <div style="max-width: 400px;">
        <EditForm Model="@EditContext" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Licence ID" Variant="Variant.Outlined"
                                  @bind-Value="LookupData.CitizenData" For="@(() => LookupData.CitizenData)" />
                    <MudTextField Label="Licence Plate" Variant="Variant.Outlined"
                                  @bind-Value="LookupData.VehicleData" For="@(() => LookupData.VehicleData)" />
                    <MudTextField Label="Citation ID" Variant="Variant.Outlined"
                                  @bind-Value="LookupData.CitationData" For="@(() => LookupData.CitationData)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Search</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>

    <MudPaper Class="pa-1 ma-2" Elevation="3">

        <MudText Typo="Typo.h6">Person Information</MudText>
        <div style="max-width: 400px;">
            <MudTextField Value="citizenData.GetOffenderName()" Label="Person Name:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citizenData.licence_id" Label="Person Licence ID:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citizenData.expiration_date" Label="Licence Expiration :" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citizenData.is_revoked" Label="Licence Revoked?:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citizenData.is_suspended" Label="Licence Suspended?" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citizenData.licence_class" Label="Licence Class:" ReadOnly="true" Variant="Variant.Filled" />

            <MudTextField Label="Issue Warrant" Variant="Variant.Outlined" Placeholder="Warrant Reference Number"
                          @bind-Value="IssueWarrant" For="@(() => IssueWarrant)" />
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Issue Warrant</MudButton>

            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:300px">
                <thead>
                    <tr>
                        @foreach (var h in headings)
                        {
                            <th>@h</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in rows)
                    {
                        <tr>
                            @foreach (var x in row.Split())
                            {
                                <td>@x</td>
                            }
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>

        </div>

        <MudText Typo="Typo.h6">Vehicle Information</MudText>
        <div style="max-width: 400px;">
            <MudTextField Value="vehicleData.vehicle_id" Label="Vehicle ID:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.vin" Label="Vehicle VIN:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.name" Label="Vehicle Name:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.stolen" Label="vehicle Stolen:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.make" Label="Vehicle Make:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.model" Label="Vehicle Model:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.year_made" Label="Vehicle Year Made:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.citizen_id" Label="Vehicle Citizen ID Relation:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="vehicleData.insurer_id" Label="Vehicle Insured ID Relation:" ReadOnly="true" Variant="Variant.Filled" />
        </div>


        <MudText Typo="Typo.h6">Citation Information</MudText>
        <div style="max-width: 400px;">
            <MudTextField Value="citationData.citation_id" Label="Citation ID" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citationData.GetOffenderName()" Label="Offender Name:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citationData.plate_number" Label="Offender Licence Plate:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citationData.officer_id" Label="Officer ID:" ReadOnly="true" Variant="Variant.Filled" />
            <MudTextField Value="citationData.date_recieved" Label="Date of Offence:" ReadOnly="true" Variant="Variant.Filled" />
        </div>

    </MudPaper>

</div>