@page "/Lookupportal"
@attribute [Authorize(Roles = Roles.HighwayPatrolOfficer + "," + Roles.Manager)]
@inherits LookupPortalBase

@using System.ComponentModel.DataAnnotations
<div class="tab-page">

    <MudPaper Class="pa-1 ma-2" Elevation="3">

        <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary">
            <br />

            <MudTabPanel OnClick="((e) => { currentTab(1); SetDisplayDataToNull(1);  })" Text="Citizen Information">

                <div class="info_card">
                    <EditForm Model="@EditContext" OnValidSubmit="@OnValidSubmit">
                        <DataAnnotationsValidator />
                        <MudCard>
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Citizen Lookup </MudText>
                                <MudTextField Label="Licence ID" Variant="Variant.Outlined"
                                              @bind-Value="LookupData.CitizenData" For="@(() => LookupData.CitizenData)" />
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Search</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </EditForm>
                </div>
                <br />
@if (citizenData != null) { 
                <div class="info_card">
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Person Information</MudText>
                        <MudTextField Value="citizenData.GetOffenderName()" Label="Person Name:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citizenData.dob" Label="Date of Birth:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citizenData.home_address" Label="Home Address:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudText Typo="Typo.h6">License Information</MudText>
                        <MudTextField Value="citizenData.license_id" Label="Person Licence ID:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citizenData.license_class" Label="Licence Class:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citizenData.expiration_date" Label="Licence Expiration :" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citizenData.is_revoked" Label="Licence Revoked?:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citizenData.is_suspended" Label="Licence Suspended?" ReadOnly="true" Variant="Variant.Filled" />
                        <br />
                    </MudCardContent>
                    <br />
                    <MudCard>
                        <MudCardContent>
                            <MudText Typo="Typo.h6">Warrant Creation</MudText>
                            <MudTextField Label="Reference number:" Variant="Variant.Outlined" Placeholder="Reference number:"
                                          @bind-Value="createWarrantData.reference_no" />
                            <MudSelect T="bool" Label="Dangerous:" @bind-Value="createWarrantData.dangerous">
                                <MudSelectItem Value="@(true)" />
                                <MudSelectItem Value="@(false)" />
                            </MudSelect>
                            <MudTextField T="string" Label="Crime Description" Variant="Variant.Outlined" Placeholder="Crime decription:"
                                          @bind-Value="createWarrantData.crime" Lines="4" />
                            <br />
                            <MudButton OnClick="postWarrantData" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Issue Warrant</MudButton>
                        </MudCardContent>
                    </MudCard>
                </div>
                <br />
                <MudCardContent>
                    <MudText Typo="Typo.h6">Warrant Information</MudText>
                    <MudSimpleTable Hover="true" FixedHeader="true">
                        <thead>
                            <tr>
                                @foreach (var h in headings)
                                {
                                    <th>@h</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in warrantCitizenData)
                            {
                                <tr>
                                    <td>@item.reference_no</td>
                                    <MudTextField T="string" Variant="Variant.Outlined" Value="@item.crime" Lines="4" />
                                    <td>@item.dangerous</td>
                                    <td>
                                        <MudButton OnClick="((e) => removeWarrant(item.reference_no))" ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                                                   Color="Color.Error">Remove Wanted Status</MudButton>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>

                </MudCardContent>

}
            </MudTabPanel>
            <MudTabPanel OnClick="((e) => { currentTab(2); SetDisplayDataToNull(2);  })" Text="Vehicle Information">

                <div class="info_card">
                    <EditForm Model="@EditContext" OnValidSubmit="@OnValidSubmit">
                        <DataAnnotationsValidator />
                        <MudCard>
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Vehicle Lookup</MudText>
                                <MudTextField Label="Licence Plate" Variant="Variant.Outlined"
                                              @bind-Value="LookupData.VehicleData" For="@(() => LookupData.VehicleData)" />
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Search</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </EditForm>
                </div>

                <br />
@if (vehicleData != null)
{

                <div class="info_card">
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Vehicle Information</MudText>
                        <MudTextField Value="vehicleData.Owner" Label="Vehicle Owner:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.plate_number" Label="Vehicle Licence Plate Number:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.vin" Label="Vehicle VIN:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.name" Label="Vehicle Name:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.stolen" Label="vehicle Stolen:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.make" Label="Vehicle Make:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.model" Label="Vehicle Model:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.year_made" Label="Vehicle Year Made:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="vehicleData.insurer_name" Label="Vehicle Insured Name Relation:" ReadOnly="true" Variant="Variant.Filled" />

                    </MudCardContent>
                    <br />
                    <MudCard>
                        <MudCardContent>
                            <MudText Typo="Typo.h6">Warrant Creation</MudText>
                            <MudTextField Label="Reference number:" Variant="Variant.Outlined" Placeholder="Reference number:"
                                          @bind-Value="createWarrantData.reference_no" />
                            <MudSelect T="bool" Label="Dangerous:" @bind-Value="createWarrantData.dangerous">
                                <MudSelectItem Value="@(true)" />
                                <MudSelectItem Value="@(false)" />
                            </MudSelect>
                            <MudTextField T="string" Label="Crime Description" Variant="Variant.Outlined" Placeholder="Crime decription:"
                                          @bind-Value="createWarrantData.crime" Lines="4" />
                            <br />
                            <MudButton OnClick="postWarrantData" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Issue Warrant</MudButton>
                        </MudCardContent>
                    </MudCard>
                </div>
                <br />
                <MudCardContent>
                    <MudText Typo="Typo.h6">Warrant Information</MudText>
                    <MudSimpleTable Hover="true" FixedHeader="true">
                        <thead>
                            <tr>
                                @foreach (var h in headings)
                                {
                                    <th>@h</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in warrantVehicleData)
                            {
                                <tr>
                                    <td>@item.reference_no</td>
                                    <MudTextField T="string" Variant="Variant.Outlined" Value="@item.crime" Lines="4" />
                                    <td>@item.dangerous</td>
                                    <td>
                                        <MudButton OnClick="((e) => removeWarrant(item.reference_no))" ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                                                   Color="Color.Error">Remove Wanted Status</MudButton>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudCardContent>
}
            </MudTabPanel>

            <MudTabPanel OnClick="((e) => { currentTab(3); SetDisplayDataToNull(3);  })" Text="Citation Information">
                <div class="info_card">
                    <EditForm Model="@EditContext" OnValidSubmit="@OnValidSubmit">
                        <DataAnnotationsValidator />
                        <MudCard>
                            <MudCardContent>
                                <MudText Typo="Typo.h6">Citation Lookup</MudText>
                                <MudTextField Label="Citation Number" Variant="Variant.Outlined"
                                              @bind-Value="LookupData.CitationData" For="@(() => LookupData.CitationData)" />
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Search</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </EditForm>
                </div>
                <br />
@if (citationData != null)
{
                <div class="info_card">
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Citation Information</MudText>
                        @*citation information*@
                        <MudTextField Value="@GetCitationType()" Label="Citation Type:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citationData.is_resolved" Label="Is Resolved:" ReadOnly="true" Variant="Variant.Filled" />
                        @*officer information*@
                        <MudTextField Value="@citationData.officer_id" Label="Officer ID:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="@citationData.officer_first_name" Label="Officer First Name:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="@citationData.officer_last_name" Label="Officer Last Name:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="@((citationData.Is_Police_Officer)?"Highway Patrol Officer":"Municipal Officer")" Label="Officer Type:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="@(citationData.dept)" Label="Officer Department:" ReadOnly="true" Variant="Variant.Filled" />
                        @*citizen*@
                        @if (citationData.is_citizen)
                        {
                            <MudTextField Value="citationData.GetOffenderName()" Label="Citizen Name:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.dob" Label="Date of Birth:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.home_address" Label="Home Address:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.license" Label="License Number:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.license_class" Label="License Class:" ReadOnly="true" Variant="Variant.Filled" /> } @*vehicle*@
                        @if (citationData.is_vehicle)
                        {
                            <MudTextField Value="citationData.plate_number" Label="Plate Number:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.vin" Label="Vehicle Number:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.is_stolen" Label="Is Stolen:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.make" Label="Make:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.model" Label="Model:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.year_made" Label="Year Made:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.insurer" Label="Insurer:" ReadOnly="true" Variant="Variant.Filled" />
                            <MudTextField Value="citationData.is_insured" Label="Is Insured:" ReadOnly="true" Variant="Variant.Filled" /> } @*status*@
                        <MudTextField Value="citationData.date_recieved" Label="Date Recieved:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citationData.date_due" Label="Date Due:" ReadOnly="true" Variant="Variant.Filled" />
                        <MudTextField Value="citationData.name" Label="Citation Type:" ReadOnly="true" Variant="Variant.Filled" />
                        <br />
                        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary"
                                   OnClick="@ResolveCitation" Class="ml-auto">Resolve Citation</MudButton>
                    </MudCardContent>
                </div>
}
            </MudTabPanel>

        </MudTabs>

    </MudPaper>

</div>
